﻿{% from '_common.html' import head,footer %}
{{ head() }}

<title>新增博客</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="Form">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>博客标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="请输入博客标题" id="title" datatype="*2-20" nullmsg="不能为空！">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>大标签：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="" class="select" id="onetype" onchange="changetwotype()" datatype="*" nullmsg="请选择大标签">
					<option value="">请选择</option>
				</select>
				</span>
            </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>小标签：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="" class="select" id="twotype" datatype="*" nullmsg="请选择小标签">
					<option value="">请选择</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章摘要：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入文章摘要" id="maincontent" datatype="s0-50" ignore="ignore">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">标题图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list"></div>
					<div id="filePicker">选择图片</div>
{#					<button id="btn-star" class="btn btn-default btn-uploadstar radius ml-10">开始上传</button>#}
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
                <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" id="submit" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;取消&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{{ footer() }}
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/My97DatePicker/4.8/WdatePicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/jquery.validation/1.14.0/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/jquery.validation/1.14.0/validate-methods.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/jquery.validation/1.14.0/messages_zh.js') }}"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/webuploader/0.1.5/webuploader.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/ueditor/1.4.3/ueditor.config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/ueditor/1.4.3/ueditor.all.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/h-ui.admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Validform-5.3.2/Validform_v5.3.2.js') }}"></script>
<script>
{#    var ue = UE.getEditor('editor');#}
	var ue = UE.getEditor('editor', {
        serverUrl: "/upload/"
    });
    </script>
<script type="text/javascript">
    var jsonsstr=[];
$(function(){
    $.ajax({
            type: "post",
            url: "/blog_manage/get_taglist",
            success: function (data) {
                k=0;
                for(var i = 0;i<data.length;i++){
                    var type = data[i].label_type;
                    if(type==1){
                        var one = "<option value=\""+data[i]._id+"@"+data[i].label_name+"\">"+data[i].label_name+"</option>";
                        $('#onetype').append(one);
                    }else if(type==2){
                        var two = "<option value=\""+data[i]._id+"@"+data[i].label_name+"@"+data[i].parent_label_id+"\">"+data[i].label_name+"</option>";
{#                        jsonsstr +={"parectid":data[i].parent_label_id,"id":data[i]._id,"name":data[i].label_name}+",";#}
                        jsonsstr[k] ={"parentid":data[i].parent_label_id,"id":data[i]._id,"name":data[i].label_name};
                        k++;
                    }
                }
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        });

	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	
	$list = $("#fileList"),
	$btn = $("#btn-star"),
	state = "pending",
	uploader;

	var uploader = WebUploader.create({
		auto: true,
		swf: 'lib/webuploader/0.1.5/Uploader.swf',
	
		// 文件接收服务端。
		server: 'fileupload.php',
	
		// 选择文件的按钮。可选。
		// 内部根据当前运行是创建，可能是input元素，也可能是flash.
		pick: '#filePicker',
	
		// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
		resize: false,
		// 只允许选择图片文件。
		accept: {
			title: 'Images',
			extensions: 'gif,jpg,jpeg,bmp,png',
			mimeTypes: 'image/*'
		}
	});
	uploader.on( 'fileQueued', function( file ) {
		var $li = $(
			'<div id="' + file.id + '" class="item">' +
				'<div class="pic-box"><img></div>'+
				'<div class="info">' + file.name + '</div>' +
				'<p class="state">等待上传...</p>'+
			'</div>'
		),
		$img = $li.find('img');
		$list.append( $li );
	
		// 创建缩略图
		// 如果为非图片文件，可以不用调用此方法。
		// thumbnailWidth x thumbnailHeight 为 100 x 100
		uploader.makeThumb( file, function( error, src ) {
			if ( error ) {
				$img.replaceWith('<span>不能预览</span>');
				return;
			}
	
			$img.attr( 'src', src );
		}, thumbnailWidth, thumbnailHeight );
	});
	// 文件上传过程中创建进度条实时显示。
	uploader.on( 'uploadProgress', function( file, percentage ) {
		var $li = $( '#'+file.id ),
			$percent = $li.find('.progress-box .sr-only');
	
		// 避免重复创建
		if ( !$percent.length ) {
			$percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo( $li ).find('.sr-only');
		}
		$li.find(".state").text("上传中");
		$percent.css( 'width', percentage * 100 + '%' );
	});
	
	// 文件上传成功，给item添加成功class, 用样式标记上传成功。
	uploader.on( 'uploadSuccess', function( file ) {
		$( '#'+file.id ).addClass('upload-state-success').find(".state").text("已上传");
	});
	
	// 文件上传失败，显示上传出错。
	uploader.on( 'uploadError', function( file ) {
		$( '#'+file.id ).addClass('upload-state-error').find(".state").text("上传出错");
	});
	
	// 完成上传完了，成功或者失败，先删除进度条。
	uploader.on( 'uploadComplete', function( file ) {
		$( '#'+file.id ).find('.progress-box').fadeOut();
	});
	uploader.on('all', function (type) {
        if (type === 'startUpload') {
            state = 'uploading';
        } else if (type === 'stopUpload') {
            state = 'paused';
        } else if (type === 'uploadFinished') {
            state = 'done';
        }

        if (state === 'uploading') {
            $btn.text('暂停上传');
        } else {
            $btn.text('开始上传');
        }
    });

    $btn.on('click', function () {
        if (state === 'uploading') {
            uploader.stop();
        } else {
            uploader.upload();
        }
    });
	

});
</script>
<script>
    var form = $('#Form').Validform({
        tiptype: function (msg, o, cssctl) {
            //msg：提示信息;
            //o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
            //cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
            if (!o.obj.is("form")) {//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                if (o.type != 2) {
                    layer.tips(msg, o.obj,{
                        tips:[3,'#9999FF'],
                        time:2000
                    });
                }
            }
        },
        showAllError: false,
        ajaxPost: false,
        postonce: true,
        callback: function (data) {
            ajaxSubmitForm();
            return false;
        }
    });
    function ajaxSubmitForm() {
        $.ajax({
            type: "post",
            url: "/blog_manage/save_blog",
            data: {"title":$('#title').val(),"onetype":$('#onetype').val(),"twotype":$('#twotype').val(),"maincontent":$('#maincontent').val(),"content":UE.getEditor('editor').getContent()},
            dataType: "json",
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            success: function (data) {
                if(data.status){
                    layer.msg('保存成功', {icon: 1});
                    setTimeout(function () {
                        parent.location.reload();
                        layer_close();
                    }, 1000);
                }else {
                    layer.msg('保存失败', {icon: 2});
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function changetwotype(){
        var parentid = $('#onetype').val();
        parentid = parentid.split("@")[0];
        $('#twotype').empty();
        $('#twotype').append("<option value=\"\">请选择</option>");
        for(var i=0;i<jsonsstr.length;i++){
            if(parentid==jsonsstr[i].parentid){
                var two = "<option value=\""+jsonsstr[i].id+"@"+jsonsstr[i].name+"\">"+jsonsstr[i].name+"</option>";
                $('#twotype').append(two);
            }
        }
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>