{% from '_common.html' import head,footer %}
{{ head() }}
<title>博客标签列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 博客标签管理 <span class="c-gray en">&gt;</span> 博客标签列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="data_add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加标签</a></span>
        </span>
        <span class="r">共有数据：<strong id="totalnum">0</strong> 条</span>
    </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="80">ID</th>
					<th width="80">标签名称</th>
					<th width="80">标签类别</th>
                    <th width="80">父标签名称</th>
                    <th width="120">创建时间</th>
					<th width="120">更新时间</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
{{ footer() }}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{ url_for('static',filename='lib/h-ui.admin/lib/My97DatePicker/4.8/WdatePicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='lib/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='lib/DataTables-1.10.15/pipeline/pipeline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='lib/h-ui.admin/lib/laypage/1.2/laypage.js') }}"></script>
<script type="text/javascript">
    var dataTableObj = $('.table-sort').dataTable({
        "language": {//
            "url": '{{ url_for('static',filename='lib/DataTables-1.10.15/lang/Chinese.json') }}'
        },
        "order": [[1, "desc"]],//默认第几个排序
        "stateSave": false,//状态保存
        "pading": false,
        "processing": true,
        "serverSide": true, //是否启动服务器端数据导入
        "bFilter": false,
        "columns": [
            {
                "orderable": false,
                "data": "_id",
                "defaultContent": ""
            },
            {"data": "_id"},
            {"data": "label_name"},
            {"data": "label_type"},
            {"data": "parent_label_name"},
            {"data": "create_time"},
            {"data": "update_time"},
            {
                "orderable": false,
                "data": "_id",
                "defaultContent": ""
            }
        ],
        "ajax": $.fn.dataTable.pipeline({
            "url": 'get_blog_label_manage_list?now=' + new Date().getTime(),
            "method": "post",
            "data": {},
            "pages": 5 // number of pages to cache
        }),
        "createdRow": function (row, data, index) {
            $(row).attr("class", "text-c");
            //行创建回调,优于行绘制回调
            {#if (data[5].replace(/[\$,]/g, '') * 1 > 4000) {
                $('td', row).eq(5).css('font-weight', "bold").css("color", "red");
            }#}
        },
        "rowCallback": function (row, data, index) {
            //行绘制回调
        },
        "columnDefs": [//列渲染
            {
                "targets": [0],
                "visible":true,
                "render": function (data, type, row) {
                    //获取其他列数据用row[index]
                    var str = '<input type="checkbox" value="' + data + '" name="">';
                    return str;
                }
            },
            {
                "targets": [1],
                "visible": false
            },
            {
                "targets": [-1],
                "render": function (data, type, row) {
                    //获取其他列数据用row[index]
                    var str = '<a style="text-decoration:none" class="ml-5" onClick="delete_blog_label(this,\'' + data + '\')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
                    return str;
                }
            }
        ]
    });
    $(dataTableObj).on('xhr.dt', function (e, settings, json, xhr) {
        //绑定xhr事件,在向服务器发送ajax请求并完成时执行
        $('#totalnum').html(json.recordsTotal);//总数
    });
</script>
<script type="text/javascript">
    $(function () {

    });
    //博客删除
    function delete_blog_label(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '/blog_manage/delete_blog_label',
                data : {'blog_label_to_del_id':id},
                dataType: 'json',
                success: function (data) {
                    location.reload();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                },
                error: function (data) {
                    console.log(data.msg);
                }
            });
        });
    }

    //添加标签
    function data_add(){
        var title = '添加标签';
        var url = 'to_blog_laebl_manage_add';
        var w = '';
        var h = '300';
        layer_show(title,url,w,h);
    }
</script>
</body>
</html>